In [2]:
import numpy as np

In [5]:
arr = np.array([[1,2],[3,4],[5,6]])

In [6]:
type(arr)

numpy.ndarray

In [7]:
arr

array([[1, 2],
       [3, 4],
       [5, 6]])

In [8]:
arr.ndim

2

In [9]:
arr.shape

(3, 2)

In [10]:
arr.size

6

arr.dtype

In [12]:
arr.nbytes

24

In [13]:
np.array([1,2,3],dtype=np.int)

array([1, 2, 3])

In [14]:
np.array([1,2,3],dtype=np.float)

array([1., 2., 3.])

In [15]:
np.array([1,2,3],dtype=np.complex)

array([1.+0.j, 2.+0.j, 3.+0.j])

Changing the datatype after intialising an array

In [18]:
arr.astype(np.int)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [19]:
arr.dtype

dtype('int32')

Adding different datatypes of NumPy Array

In [20]:
arr_float = np.array([1,2,3],dtype=np.float)
arr_complex = np.array([1,2,3],dtype=np.complex)

In [21]:
arr_float+arr_complex

array([2.+0.j, 4.+0.j, 6.+0.j])

# Square root Function

In [22]:
arr = np.array([4,9,16])
np.sqrt(arr)

array([2., 3., 4.])

In [23]:
arr = np.array([2,3,5,7,8,10,11])
np.sqrt(arr)

array([1.41421356, 1.73205081, 2.23606798, 2.64575131, 2.82842712,
       3.16227766, 3.31662479])

# Real and Imaginary parts of a complex datatype Array

In [24]:
arr = np.array([1,2,3],dtype=np.complex)

In [25]:
arr.real

array([1., 2., 3.])

In [27]:
arr.imag

array([0., 0., 0.])

# Arrays with only 0's

In [34]:
arr = np.zeros((2,3))

In [35]:
arr.dtype

dtype('float64')

# Arrays with 1's

In [36]:
arr = np.ones((2,3))

In [37]:
arr

array([[1., 1., 1.],
       [1., 1., 1.]])

In [39]:
arr.dtype

dtype('float64')

# Array with any number

In [40]:
arr = np.empty(4)

In [42]:
arr.fill(3)

In [43]:
arr

array([3., 3., 3., 3.])

In [44]:
x = np.full(4,5)

In [45]:
x

array([5, 5, 5, 5])

In [46]:
arr+x

array([8., 8., 8., 8.])

In [47]:
arr*x

array([15., 15., 15., 15.])

# Arrays with incremental values

In [48]:
arr = np.arange(1,10,1)

In [49]:
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [50]:
arr = np.arange(1,10,2)

In [51]:
arr

array([1, 3, 5, 7, 9])

In [52]:
arr = np.arange(1,100,3)

In [53]:
arr

array([ 1,  4,  7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49,
       52, 55, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97])

In [54]:
arr.shape

(33,)

In [56]:
arr.ndim

1

# Arrays with logarithmic sequences

In [57]:
arr = np.logspace(0,2,5)

In [58]:
arr

array([  1.        ,   3.16227766,  10.        ,  31.6227766 ,
       100.        ])

# Meshgrid Arrays

In [59]:
x = np.array([-1,0,1])
y = np.array([-2,0,2])
X,Y = np.meshgrid(x,y)

In [60]:
X

array([[-1,  0,  1],
       [-1,  0,  1],
       [-1,  0,  1]])

In [61]:
Y

array([[-2, -2, -2],
       [ 0,  0,  0],
       [ 2,  2,  2]])

In [62]:
(X+Y)**2

array([[9, 4, 1],
       [1, 0, 1],
       [1, 4, 9]], dtype=int32)

# Uninitialised Arrays

In [63]:
arr = np.empty(3,dtype=np.float)

In [64]:
arr

array([0., 0., 0.])

# Creating arrays with other array's properties

In [65]:
def f(x):
    y = np.ones_like(x)
    return y
f(arr)

array([1., 1., 1.])

# Matrix Arrays

In [66]:
arr = np.identity(5)

In [67]:
arr

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [71]:
arr = np.diag(np.arange(0,20,5))

In [72]:
arr

array([[ 0,  0,  0,  0],
       [ 0,  5,  0,  0],
       [ 0,  0, 10,  0],
       [ 0,  0,  0, 15]])

In [73]:
arr = np.array([[1,2,3,4,5],[6,7,8,9,10]])

In [74]:
arr

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [76]:
arr.ndim

2

In [77]:
arr.shape

(2, 5)

In [78]:
arr[0,1]

2

# Accessing array elements

In [81]:
arr[1,3]

9

In [82]:
arr[0,0]

1

In [83]:
arr[0,-2]

4

In [84]:
arr[0:4]

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [85]:
arr[0:3]

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [86]:
arr = np.array([1,4,9,16,25,36,49,64,81,100])

In [87]:
arr[0:3]

array([1, 4, 9])

In [88]:
arr[:]

array([  1,   4,   9,  16,  25,  36,  49,  64,  81, 100])

In [90]:
arr[0:6:2]

array([ 1,  9, 25])

In [91]:
arr[::-1]

array([100,  81,  64,  49,  36,  25,  16,   9,   4,   1])

In [92]:
arr[0:]

array([  1,   4,   9,  16,  25,  36,  49,  64,  81, 100])

# Multidimensional matrix from fuction

In [97]:
f = lambda m,n:m*10+n
A = np.fromfunction(f,(5,5),dtype=np.int)

In [98]:
A

array([[ 0,  1,  2,  3,  4],
       [10, 11, 12, 13, 14],
       [20, 21, 22, 23, 24],
       [30, 31, 32, 33, 34],
       [40, 41, 42, 43, 44]])

In [100]:
A = np.fromfunction(f,(100,100),dtype=np.int)

In [101]:
A

array([[   0,    1,    2, ...,   97,   98,   99],
       [  10,   11,   12, ...,  107,  108,  109],
       [  20,   21,   22, ...,  117,  118,  119],
       ...,
       [ 970,  971,  972, ..., 1067, 1068, 1069],
       [ 980,  981,  982, ..., 1077, 1078, 1079],
       [ 990,  991,  992, ..., 1087, 1088, 1089]])

In [102]:
A = np.fromfunction(f,(10,10),dtype=np.int)

In [103]:
A

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [110]:
A[:,1]

array([ 1, 11, 21, 31, 41, 51, 61, 71, 81, 91])

In [111]:
A[1,:]

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [112]:
A[0:3,1]

array([ 1, 11, 21])

In [113]:
A[2,3:5]

array([23, 24])

In [114]:
A[:5,:5]

array([[ 0,  1,  2,  3,  4],
       [10, 11, 12, 13, 14],
       [20, 21, 22, 23, 24],
       [30, 31, 32, 33, 34],
       [40, 41, 42, 43, 44]])

In [115]:
A[5:,5:]

array([[55, 56, 57, 58, 59],
       [65, 66, 67, 68, 69],
       [75, 76, 77, 78, 79],
       [85, 86, 87, 88, 89],
       [95, 96, 97, 98, 99]])

# The copy() function

In [116]:
arr = np.array([[1,2,3],[4,5,6],[7,8,9]])
A = arr[::].copy()

In [117]:
A

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

# Reshaping Arrays

In [118]:
A = np.array([[1,2,3],[4,5,6]])
np.reshape(A,(1,6))

array([[1, 2, 3, 4, 5, 6]])

# Insert,Append,Delete

In [119]:
arr = np.array([1,4,9,16,25,36])

In [120]:
np.append(arr,49)

array([ 1,  4,  9, 16, 25, 36, 49])

In [125]:
np.insert(arr,6,64)

array([ 1,  4,  9, 16, 25, 36, 64])

In [126]:
arr

array([ 1,  4,  9, 16, 25, 36])

# Flatten()

In [127]:
A = np.array([[1,2,3],[4,5,6]])
A.flatten()

array([1, 2, 3, 4, 5, 6])

# Arithmetic Operations

In [128]:
x = np.array([[1,2,3],[4,5,6]])
y = np.array([[7,8,9],[10,11,12]])

In [129]:
x+y

array([[ 8, 10, 12],
       [14, 16, 18]])

In [130]:
x-y

array([[-6, -6, -6],
       [-6, -6, -6]])

In [131]:
y-x

array([[6, 6, 6],
       [6, 6, 6]])

In [132]:
x*y

array([[ 7, 16, 27],
       [40, 55, 72]])

In [133]:
x**y

array([[          1,         256,       19683],
       [    1048576,    48828125, -2118184960]], dtype=int32)

In [134]:
x/y

array([[0.14285714, 0.25      , 0.33333333],
       [0.4       , 0.45454545, 0.5       ]])

In [135]:
y/x

array([[7. , 4. , 3. ],
       [2.5, 2.2, 2. ]])

In [136]:
x//y

array([[0, 0, 0],
       [0, 0, 0]], dtype=int32)

In [137]:
y//x

array([[7, 4, 3],
       [2, 2, 2]], dtype=int32)

In [138]:
x%y

array([[1, 2, 3],
       [4, 5, 6]], dtype=int32)

In [139]:
y%x

array([[0, 0, 0],
       [2, 1, 0]], dtype=int32)

In [140]:
2**x

array([[ 2,  4,  8],
       [16, 32, 64]], dtype=int32)

In [141]:
3**x

array([[  3,   9,  27],
       [ 81, 243, 729]], dtype=int32)

In [142]:
y**x

array([[      7,      64,     729],
       [  10000,  161051, 2985984]], dtype=int32)

# Multidimensional Array multiplication

In [143]:
f = lambda m,n:m*10+n
A = np.fromfunction(f,(10,10),dtype=np.int)

In [144]:
A

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [145]:
B = A

In [146]:
A*B

array([[   0,    1,    4,    9,   16,   25,   36,   49,   64,   81],
       [ 100,  121,  144,  169,  196,  225,  256,  289,  324,  361],
       [ 400,  441,  484,  529,  576,  625,  676,  729,  784,  841],
       [ 900,  961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521],
       [1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401],
       [2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481],
       [3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761],
       [4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241],
       [6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921],
       [8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]])

In [147]:
A**B

array([[          1,           1,           4,          27,         256,
               3125,       46656,      823543,    16777216,   387420489],
       [ 1410065408,  1843829075,  -251658240, -1692154371, -1282129920,
         1500973039,           0,  1681328401,   457441280,  -306639989],
       [          0,   878082373,   977272832, -1276351769,           0,
         1296002393,   603979776,  -714244925,           0, -1266004979],
       [ 1073741824, -2010103841,           0,   942687265,           0,
          618402555,           0,  -200711083,           0,  1583713495],
       [          0,  2110296937,           0,   407106611,           0,
        -1714755555,           0,  1686099919,           0,    20963633],
       [          0,  -329759125,           0, -1690305179,           0,
         2006722247,           0,  1071068025,           0,   915746723],
       [          0,  1062783533,           0,  1526857663,           0,
         1526861889,           0,   882693595,           0,   394359925],
       [          0, -1215534921,           0, -1880654455,           0,
        -1252237549,           0,   827793981,           0, -1640306769],
       [          0, -1090846383,           0, -1095175861,           0,
         -741017211,           0, -1465220441,           0,   376283545],
       [          0,  -763055485,           0,  1790517325,           0,
         1916190623,           0, -1573460895,           0, -1250178885]],
      dtype=int32)

In [148]:
np.ndim(A*B)

2

In [149]:
np.shape(A*B)

(10, 10)